<p id="notice"><%= notice %></p>

<h1>Listing Post Sections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_sections.each do |post_section| %>
      <tr>
        <td><%= post_section.title %></td>
        <td><%= link_to 'Show', post_section %></td>
        <td><%= link_to 'Edit', edit_post_section_path(post_section) %></td>
        <td><%= link_to 'Destroy', post_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post section', new_post_section_path %>
