<div class="panel wide">

  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :icon %><div class="icon-options-link">( <a href="http://www.typicons.com/" target="_blank">See Options</a> )</div><br>
      <%= f.text_field :icon %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body, rows: "20", id: "eg-basic", class: "text-small" %>
    </div>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% for post_section in @post.post_sections %>
          <tr>
            <td><%= post_section.title %></td>
            <td><%= link_to 'Edit', edit_post_section_path(post_section) %></td>
            <td><%= link_to 'Destroy', post_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      
    <div class="actions">
      <%= f.submit class: "button" %>
      <%= link_to "Cancel", :back, {:class=>"button"} %>
    </div>
  <% end %>

</div>
