<div class="panel wide">

  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :icon %><div class="icon-options-link">( <a href="http://www.typicons.com/" target="_blank">See Options</a> )</div><br>
      <%= f.text_field :icon %>
    </div>
    <div class="field">
      <%= f.label :post_type %><br>
      <%
        @post.post_type_id = params[ :post_type_id ]
      %>
      <%= collection_select(:post, :post_type_id, PostType.all, :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body, rows: "20", id: "eg-basic", class: "text-small" %>
    </div>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="2"></th>
          <th colspan="2">Priority</th>
        </tr>
      </thead>
      <tbody>
        <%# for post_section in @post.post_sections.order("priority asc") %>
        <% for post_section in @post.post_sections %>
          <tr class="sortable-row" id="<%= post_section.id %>" data-pos="">
            <td><%= post_section.title %></td>
            <td><%= link_to 'Edit', edit_post_section_path(post_section) %></td>
            <td><%= link_to 'Destroy', post_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><span class="up-priority anchor-glove">&#x25B2</span></td>
            <td><span class="down-priority anchor-glove">&#x25BC</span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%#= link_to "+ New Section", new_post_post_section_path(@post), :id => 'new-post-section-button' %>
    <%= link_to "+ New Section", new_post_section_path(:post_id => @post.id), :id => 'new-post-section-button' %>
    <div class="clearfix"></div>
    <div class="actions">
      <%#= f.submit id: "submit-btn", class: "button" %>
      <%= link_to "Update Post", '#', :id => 'submit-btn', :class => 'button' %>
      <%= link_to "Cancel", :back, {:class=>"button"} %>
    </div>
  <% end %>

</div>
