<!-- <p id="notice"><%= notice %></p> -->

<div class="post-container">

 <%= link_to posts_path do %>
  <div class="breathing-room">&larr; All resources</div>
 <% end %>



  <div class= 'tile-icon typcn typcn-<%= @post.icon.downcase %>'></div>

  <h3>
    <%= @post.title %>
  </h3>
  
  <h5>by: <%= @post.user.fname %></h5>

  <% if user_signed_in? && current_user.admin? %>
    <div class="edit-icons">
      <%= link_to(edit_post_path(@post)) do %>
        <span class="typcn typcn-pencil"></span>
      <% end %>
      <%= link_to(@post, method: :delete, data: { confirm: 'Are you sure?' }) do %>
        <span class="typcn typcn-trash"></span>
      <% end %>
    </div>
  <% end %>

  <div class="post-body">
    <%= @post.body.html_safe %>
  </div>



  <div id="infographic">
    <% i=0 %>
    <% PostSection.all.each do |post_section| %>
      <% if post_section.post_id == @post.id %>
        <% if i % 2 == 0 %>
          <% textClass = "left-text"
             imgClass = "right-img"
             divBackground = "bordered-section-normal"
          %>
        <% else %>
           <% textClass = "right-text"
              imgClass = "left-img"
              divBackground = "bordered-section-light" 
            %>
        <% end %>
        <section>
          <div class="info-container <%= divBackground %>">
            
            <% if i % 2 != 0 %>
              <div class="<%= imgClass %>">
                <div class="typcn typcn typcn-<%= post_section.icon %>"></div>
              </div>
            <% end %>

            <div class="<%= textClass %>">
              <h3><%= post_section.title %></h3>
              <div><%= post_section.summary.html_safe %>
               <% if post_section.additional_text.length > 0 %>
                  <div class="hidden  1-<%= i %>">
                    <%= post_section.additional_text.html_safe %>
                  </div>
                  <a id="1-<%= i %>" class="expand-button"></a>
                <% end %>
              </div>
            </div>

            <% if i % 2 == 0 %>
              <div class="<%= imgClass %>">
                <div class="typcn typcn typcn-<%= post_section.icon %>"></div>

              </div>
            <% end %>



           

            <div class="clearfix"></div>


            <% if user_signed_in? && current_user.admin? %>
              <%= link_to(edit_post_section_path(post_section)) do %>
                <span class="edit-icons typcn typcn-pencil"></span>
              <% end %>
              <%= link_to(post_section, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                <span class="edit-icons typcn typcn-trash"></span>
              <% end %> 
            <% end %>
            
          </div>
          
        </section>
      
        
        
        <% i += 1 %>
      <% end %>
    <% end %>
  </div>

    
 <%= link_to posts_path do %>
  <div class="breathing-room">&larr; All resources</div>
 <% end %>
    <%#= link_to 'Edit', edit_post_path(@post) %>
    <%#= link_to 'Back', posts_path %>
</div>

