
<nav>
  <div class="header-banner">

    <div class="left banner-logo">
      <%= link_to root_path do %>
          <img class="logo" src="/assets/logo2.png" alt="Diamond Tree Logo"/>
          <h1>Diamond Tree</h1>
      <% end %>
    </div>

    <ul class="right">
      <!-- <li><%= link_to "Home", root_path %></li> -->
  <!--      <li><a href="#problem">The Problem</a></li> -->
      <!-- <li><%#= link_to "Mission", root_path(:anchor => "mission") %></li> -->
      <li><%= link_to "Services", root_path(:anchor => "services") %></li>
      <li><%= link_to "Projects", root_path(:anchor => "projects") %></li>
      <!-- <li><%#= link_to "Resources", root_path(:anchor => "resources") %></li> -->
      <li><%= link_to "Resources", posts_path %></li>
  <!--      <li><a href="#team">Team</a></li> -->
      <li><%= link_to "Contact", root_path(:anchor => "contact") %></li>

      <% if user_signed_in?  %>
        <li>| <%= current_user.fname %></li>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <% if current_user.admin  %>
          <li><%= link_to "Admin", rails_admin.dashboard_path %></li>
        <% end %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path, class: "sign-out-link" %></li>
      <% end %>   

    </ul> 

    <div class="clearfix"></div>
  </div>
</nav>